{% extends 'myapp/base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="text-center">
            <img class="mb-4" src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png"
                style="width: 250px; height: 90px;" />
            <h5 class="mb-3">pythonの練習</h5>
            <p class="mb-3">Fuk_Dev9</p>
        </div>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">

    {% for item in post_list %}

    <!-- Card -->
    <div class="card">

        <!-- Card image -->
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" alt="Card image cap">

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title"><a>{{ item.title }}</a></h4>
            <!-- Text -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <!-- Button -->
            <a href="{% url 'myapp:post_detail' item.id %}" class="btn btn-primary">Read More</a>

        </div>

    </div>
    <!-- Card -->

    {% endfor %}

</div>

{% endblock %}